@import url("./fonts.css");
* {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

body {
  background: #fff;
}

.form-control {
  border-radius: 0 !important;
}


.animate__animated.animate__pulse {
  --animate-duration: 1.5s;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

textarea:active, input:active, textarea:focus, input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-floating>label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 1.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}

/* scrollbar */

.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

.animate__animated.animate__fadeOut {
  --animation-duration: .5s;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #7393B3;
}

::-webkit-scrollbar-thumb:hover {
  background: #6082B6;
  width: 8px;
}

/* / */

.mt-7 {
  margin-top: 100px;
}

.mb-7 {
  margin-bottom: 100px;
}

a {
  text-decoration: none;
}

.fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: 0%;
}

/* Blur-zoom Container */

.img-hover-zoom--blur {
  transition: transform 2s, filter 3s ease-in-out;
  filter: blur(5px);
  transform: scale(1.2);
}

/* The Transformation */

.img-hover-zoom--blur:hover {
  filter: blur(0);
  transform: scale(1);
}

#myBtn {
  border: 1px solid transparent;
  z-index: 1000;
  position: fixed;
  bottom: 20px;
  right: 30px;
  color: #000000;
  background-color: #ffc4000e;
  font-weight: 300;
  font-size: 14px;
  border-radius: 100px;
  box-shadow: 0px 0px 10px #29292960;
}

.btn:focus, .btn:active, #myBtn:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  box-shadow: none;
  outline: none;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid #000;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
}
.bg_colored_btn {
  float: left;
  padding: 6px 16px;
  border-radius: 4px;
  background-color: #65952e;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  border: transparent;
  transition: all .5s ease;
}

.bg_colored_btn:hover{
  background-color: #212529;
}

.middle {
  display: flex;
  justify-content: center;
}

.btn1 {
  display: block;
  position: relative;
  color: dodgerblue;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  transition: all .5s ease;
}

.hover-btn {
  background: transparent;
  border: 1px solid dodgerblue;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 15px;
  z-index: 1;
}

.btn1::before {
  position: absolute;
  background: dodgerblue;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all .9s ease;
}

.hover-btn::before {
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(-34deg);
}

.hover-btn:hover::before {
  height: 300%;
}

.hover-btn:hover {
  color: #fff;
}

/* w-100 button */

.hover-btn1 {
  background: transparent;
  border: 1px solid dodgerblue;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 15px;
}

.hover-btn1::before {
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(15deg);
}

.hover-btn1:hover::before {
  height: 750%;
}

.hover-btn1:hover {
  color: #fff;
}

/* / */

.bg-light {
  background-color:#2b2727e3!important;
  border-top: 1px solid rgba(255, 255, 255, .02);
  border-left: 1px solid rgba(255, 255, 255, .02);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, .2);
}

.navbar-light .navbar-toggler {
  color: rgb(255, 255, 255) !important;
  border-color: rgba(0, 0, 0, .1);
}

.navbar-brand img {
  max-width: 100px;
  max-height: 50px;
  -webkit-filter: drop-shadow(3px -1px 3px #ddddddb4);
  filter: drop-shadow(3px -1px 3px #ffffffb4);
}

.navbar-nav .nav-item {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border: 0 !important;
}

.nav-item .nav-link {
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  border: 3px solid transparent;
  padding:10px;
  color: #28282B;
}

.nav-item .nav-link.active {
  color: #ffc107 !important;
  border-bottom: 3px solid #ffc107;
}

.nav-item .nav-link:hover {
  border-bottom: 3px solid #ffc107;
  border-radius: 0;
}

/* Crousel */

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  margin-top: -25px;
}

.top-caro {
  width: 100% !important;
  padding: 0 !important;
}

.top-caro .carousel-image {
  width: 100%;
  height: 100vh;
  max-height: 600px !important;
  background-size: cover;
  position: relative;
  max-height: 600px;
  max-width: 100%;
  object-fit: fill;
  -webkit-filter: brightness(30%);
}

.top-caro .carousel-caption {
  bottom: 250px !important;
  color: #fff !important;
}

#top-svg path {
  stroke-dasharray: 479;
  stroke-dashoffset: 479;
  animation: line-anime 4s ease forwards 2s;
}

@keyframes line-anime {
0% {
    stroke-dashoffset: 479;
  }
50%{
  stroke-dashoffset: 0;
  fill: transparent;
}
100%{
    fill: white;
  }
}

.top-caro .carousel-caption h5 {
  font-size: 90px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 5px;
}

/* .top-caro .carousel-caption p {
  font-size: 18px;
  margin: auto;
  width: 60%;
  line-height: 1.9;
} */

/* SERVICES */

.box img {
  color: #ffc107;
}

.box p {
  padding: 0 20px;
}

.service-box-head {
  font-size: 40px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: #0096FF;
  position: relative;
  padding-left: 30px;
}

.service-box-head::before {
  content: '';
  background: #2fb199;
  z-index: 9;
  width: 5px;
  bottom: 0;
  height: 5px;
}

.service-box-head::after {
  content: '';
  background: #28282B;
  z-index: 9;
  height: 5px;
}

.searvice-box-para {
  font-size: 14px;
}

.card {
  height: auto !important;
  width: 100%;
}

.card-icon {
  display: flex;
  margin-top: -65px;
  margin-bottom: 20px;
  font-size: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #0096FF;
  font-weight: 300;
  background-color: #fff;
}

.card-title {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .5px;
  padding-bottom: 10px;
}

.card-text {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  padding: 0 30px !important;
  letter-spacing: 1px;
  font-weight: 400 !important;
  color: #757575;
}

.hover-btn i {
  font-size: 14px;
}

.main-box {
  width: 100%;
  background: url("/Assets/background/snow.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}

.Facility-svg {
  padding-top: 50px;
}

.Facility-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Facility-text-p {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #28282B;
  letter-spacing: .1rem;
}

.typed-text {
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #006cff;
}

.cursor {
  display: inline-block;
  width: 3px;
  background-color: #212529;
  margin-left: .2rem;
}

/* svg carousel */

/* .caro-svg{
  max-width: 100%;
  max-height: 400px;
  object-fit: scale-down;
}
.caro-svg .carosel-item img{
  height: 400px;
} */

.Facility-svg .carousel-indicators {
  position: absolute;
  right: -400px !important;
  bottom: 50px !important;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
  transform: rotate(90deg) !important;
}

.Facility-svg .carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100px;
  border-top: 0 !important;
  border-bottom: 0 !important;
}

/* Contact Us */

.contact-us {
  color: #0096FF;
  font-size: 2em;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}
/* Footer */

/* footer{
  position: fixed;
} */

footer .container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

.icons {
  position: fixed;
  bottom:10px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 10px;
}

.icons i {
  margin-left: 10px;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.11);
  cursor: pointer;
  z-index: 100;
  transition: all 1s ease ;
  border-radius: 20px;
}

.icons i:hover {
  bottom: 25px;
  color: #0096FF;
  transform: translateY(-8px);
}

/* Clients */
.footer-top{
  border-top: dashed 1px #0000006b;
  z-index: 100;
  background: #fafafa;
}
.clients-offer{
  padding-left: 4em;
  padding-right: 4em;
}
.clients-offer h5{
  font-family: 'Poppins' , sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.clients-offer h6{
  font-size: 10px;
  color: #686868;
}
.clients-offer li{
  list-style: circle;
  font-weight: 500;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 26px;
  color: #757575;
}

.clients-says {
  position: relative;
}

.clients-says h5{
  font-family: 'Poppins' , sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #444444;
  margin-bottom: 20px;
}

.clients-says .carousel{
  width: 430px !important;
  height: 220px !important;
  position: relative;
  transition: all 0.5s ease;
}

.clients-says .carousel-item img{
  width: 100%;
  height: 100%;
}
.clients-says .carousel-item .carousel-caption{
  bottom: 50px;
  font-size: 12px;
  font-family: 'Poppins' , sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
}
.clients-says .carousel-control-prev{
  position: absolute;
  border-radius: 3px;
  top: -30px;
  bottom: 70px;
  left: 380px;
  z-index: 1;
  width: 20px;
  height: 20px;
  padding-top: 10px;
  padding: 0;
  color: rgb(136, 136, 136);
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 1;
  transition: opacity .15s ease;
  background: #eee;
}
.clients-says .carousel-control-next{
  position: absolute;
  border-radius: 3px;
  top: -30px;
  bottom: 70px;
  z-index: 1;
  width: 20px;
  height: 20px;
  padding-top: 10px;
  padding: 0;
  color: rgb(136, 136, 136);
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 1;
  transition: opacity .15s ease;
  background: #eee;
}
.clients-says .fa-left, .fa-right {
  background-repeat: no-repeat;
  background-size: 100%;
}
.user-icon{
  position: absolute;
  z-index: 1000;
  top: 210px;
  left: 60px;
}
.details{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1000;
  top: 164px;
  left: 40px;
}

/* Mobile View */
@media screen and (max-width: 792px) {

  body {
    margin-top: 60px;
  }
  .w-50 {
    width: 100% !important;
    padding: 15px !important;
  }
  .logo {
    float: left !important;
    text-align: left !important;
  }
  .nav-item {
    text-align: center;
  }
  .nav-item .nav-link {
    padding: 10px;
    color: #fff !important;
  }
  .nav-item .nav-link.active {
    color: #2fb199 !important;
    border-bottom: 3px solid transparent;
    border-radius: 4px;
  }
  .nav-item .nav-link:hover {
    border-left: 3px solid #ffc107;
    border-right: 3px solid #ffc107;
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 3px solid transparent;
    border-radius: 0;
  }  
  .bg-light {
    background-color: #28282B !important;
  }
  .top-caro .carousel-image {
    width: 100vw;
    height: 325px;
  }
  .top-caro .carousel-control-next-icon, .carousel-control-prev-icon {
    display: none;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
  }
  .top-caro .carousel-caption {
    bottom: 100px !important;
    color: #fff !important;
  }
  .top-caro .carousel-caption h5 {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
  }
  
  .Facility-svg .carousel-indicators {
    right: -300px !important;
  }
  .card {
    margin-bottom: 20px;
  }
  .hover-btn {
    margin-bottom: 50px;
  }
  .Facility-text {
    margin-top: 40px;
  }
  footer .icons i {
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
    color: #c5c5c5;
    cursor: pointer;
    z-index: 100;
    transition: all .8s ease;
  }
  .footer-top .col-md-5{
    padding-bottom: 3rem;
  }
  .clients-says .carousel-item .carousel-caption{
    bottom: 25px;
    font-size: 11px;
    font-family: 'Poppins' , sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 14px;
  }
  .clients-says .carousel-control-next{
    top: -40px;
    bottom: 70px;
    right: 50px;
  }
  .clients-says .carousel-control-prev{
    top: -40px;
    bottom: 70px;
    left: 285px;
    z-index: 1;
  }
  .user-icon{
    position: absolute;
    z-index: 1000;
    top: 175px;
    left: 50px;
  }
  .details{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
    top: 150px;
    left: 40px;
  }
  .clients-says .carousel{
    width: 330px !important;
    height: 220px !important;
    position: relative;
    transition: all 0.5s ease;
  }
}

/* Mobile View */
@media screen and (max-width: 400px) {
  .clients-says .carousel-control-next{
    top: -40px;
    bottom: 70px;
    right: 20px;
  }
  .clients-says .carousel-control-prev{
    top: -40px;
    bottom: 70px;
    left: 265px;
    z-index: 1;
  }
  .clients-offer{
    padding-left: 3em;
    padding-right: 1em;
  }
  .clients-says{
    margin-left: -10px;
  }
  .clients-says .carousel{
    width: 280px !important;
    height: 180px !important;
    position: relative;
    transition: all 0.5s ease;
  }
  .clients-says .carousel-item .carousel-caption {
    bottom: 16px;
    font-size: 8px;
    font-family: 'Poppins' , sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
}
  .details{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
    top: 132px;
    left: 50px;
  }
  .user-icon{
    position: absolute;
    z-index: 1000;
    top: 153px;
    left: 50px;
  }
}